<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sergio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tab Sergio</ion-card-title>
      <ion-card-subtitle>Un componente visual de ejemplo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Este es un ejemplo de un ion-card. Puedes usar este componente para mostrar información de forma atractiva dentro de tus tabs.
    </ion-card-content>
  </ion-card>
</ion-content>

